// ANIMATION LOADER //

.loader {
    @extend %flex-center;
    color: $primary-color; 
    background-color: $main-bg-color;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.5s;
    //animation: 2s ease-in-out infinite;
    animation: visibility 3s linear;

    &__circle {
       @extend %flex-center;
        position: relative;
        width: 20px;
        height: 20px;
        border: solid 2px $primary-color;
        border-radius: 50%;
        margin: 0 10px;
        background-color: transparent;
        animation: circle 2s ease-in-out infinite;
      }
      
      &__circle &__dot {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $primary-color;
        animation: dot 2s ease-in-out infinite;
      }
      
      &__circle &__outline {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation: outline 2s ease-in-out infinite;
      }
  }

  .loader__circle:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader__circle:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .loader__circle:nth-child(4) {
    animation-delay: 0.9s;
  }
  
  .loader__circle:nth-child(5) {
    animation-delay: 1.2s;
  }
  
  .loader__circle:nth-child(2) .loader__dot {
    animation-delay: 0.3s;
  }
  
  .loader__circle:nth-child(3) .loader__dot {
    animation-delay: 0.6s;
  }
  
  .loader__circle:nth-child(4) .loader__dot {
    animation-delay: 0.9s;
  }
  
  .loader__circle:nth-child(5) .loader__dot {
    animation-delay: 1.2s;
  }
  
  .loader__circle:nth-child(1) .loader__outline {
    animation-delay: 0.9s;
  }
  
  .loader__circle:nth-child(2) .loader__outline {
    animation-delay: 1.2s;
  }
  
  .loader__circle:nth-child(3) .loader__outline {
    animation-delay: 1.5s;
  }
  
  .loader__circle:nth-child(4) .loader__outline {
    animation-delay: 1.8s;
  }
  
  .loader__circle:nth-child(5) .loader__outline {
    animation-delay: 2.1s;
  }
  
  @keyframes circle {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes dot {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes outline {
    0% {
      transform: scale(0);
      outline: solid 20px $primary-color;
      outline-offset: 0;
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }

  @keyframes visibility {
    15% {
        opacity: 1;
    }

    80% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

// ANIMATION COEUR //

.btn-heart {
    @extend %btn-like;

    &__full {
        opacity: 0;
        background: $btn-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__empty {
        opacity: 1;
    }

    &__like {
        @extend %flex-center;
        transition: opacity 0.5s;
        position: absolute;
        inset: 0;
    }

    &:hover {
        .btn-heart__empty {
            opacity: 0;
        }

        .btn-heart__full {
            opacity: 1;
        }
    }
}

// ANIMATION MENUS //