// ANIMATION LOADER //

.loader {
    @extend %flex-center;
    color: $primary-color;
    background-color: $main-bg-color;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    animation: visibility 3s ease-out forwards; // durée 3s, disparition du loader avec animation-fill-mode forwards

    &__circle {
        @extend %flex-center;
        position: relative;
        width: 20px;
        height: 20px;
        border: solid 2px $primary-color;
        border-radius: 50%;
        margin: 0 10px;
        background-color: transparent;
        animation: circle 2s ease-in-out infinite;
    }

    &__circle &__dot {
        position: absolute;
        transform: translate(-50%, -50%); // déplacement de l'élement sur X et Y
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $primary-color;
        animation: dot 2s ease-in-out infinite;
    }

    &__circle &__outline {
        position: absolute;
        transform: translate(-50%, -50%); // déplacement de l'élement sur X et Y
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation: outline 2s ease-in-out infinite;
    }
}

@for $i from 2 through 5 {  // boucle pour régler les délais de chaque élément de l'animation
    $delay: $i * 0.2s; 

    .loader__circle:nth-child(#{$i}) {
        animation-delay: 0.2s;

        .loader__dot,
        .loader__outline {
            animation-delay: 0.1s;
        }
    }
}

@keyframes circle {
    0% {
        transform: scale(1); // taille de l'affichage des éléments du loader 
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes outline {
    0% {
        transform: scale(0);
        outline: solid 20px $primary-color;
        outline-offset: 0;
        opacity: 1;
    }

    100% {
        transform: scale(1);
        outline: solid 0 transparent;
        outline-offset: 20px;
        opacity: 0;
    }
}

@keyframes visibility {
    0% {
        visibility: visible;
        opacity: 0.9;
    }

    70% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


// ANIMATION COEUR //

.btn-heart {
    @extend %btn-like;

    &__full {
        opacity: 0;
        background: $btn-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__empty {
        opacity: 1;
    }

    &__like {
        @extend %flex-center;
        transition: opacity 0.5s;
        font-size: 25px;
        position: absolute;
        inset: 0;
    }

    &:hover, &:focus {
        .btn-heart__empty {
            opacity: 0;
        }

        .btn-heart__full {
            opacity: 1;
        }
    }
}

// ANIMATION MENUS //

.progressive-display {
    animation: fade-in 1s backwards;

    @for $i from 1 through 10 {

        &--#{$i} {
            animation-delay: 0.2s * $i;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        margin-top: 10px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}