footer {
    background: $dark-bg-txt;
    color: white;
    padding: 22px 25px;

    @include medium-device {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
    }

    @include large-device {
        gap: 70px;
    }

    p {
        font-size: 16px;
        margin: unset;
        padding-bottom: 7px;

        @include medium-device {
            margin-right: 15px;
        }

        @include large-device {
            margin-right: 25px;
        }
    }
}

.footer__logo {
    h3 {
        font-family: $font-stack-title;
        font-size: 18px;
    }
}

.footer__links {
    @include medium-device {
        display: flex;
        margin-top: 20px;
        gap: 10px;
    }

    &--content {
        display: flex;
        gap: 10px;

        i {
            font-size: 13px;
            margin-top: 3px;
        }
    }
}