.logo{
    @extend %flex-center;
    font-size: 30px;
    padding: 14px 89px 13px 89px;
    img {
        width: 197px;
    }
}

.location{
    @extend %flex-center;
    box-shadow: inset 1px 4px 4px 0px rgba(195, 188, 188, 0.65);
    display: flex;
    gap: 17px;
    background: $secondary-bg-color;
    width: 100%;  
    p {
        color: $dark-bg-txt;
    }
}
