.header{
    @extend %flex-center;
    position: relative;

    &__icon {
        font-size: 20px;
        color: black;
        position: absolute;
        top: 16px;
        left: 17px;
    } 

    &__logo {
        width: 162px;
        font-size: 30px;
        padding: 14px 89px 10px 89px;
    }
     
}