// COULEURS //
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// POLICE //
$main-font-stack: Roboto, sans-serif;
$font-stack-title: Shrikhand, sans-serif;

// POSITIONNEMENT //

