// COULEURS //
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-bg-txt: #353535;
$color-icons: #7E7E7E;
$new-txt-color: #008766;
$main-bg-color: #F6F6F6;
$secondary-bg-color: #EAEAEA;
$btn-gradient: linear-gradient(201deg, $primary-color -5.2%, $secondary-color 110.74%);

// POLICE //
$main-font-stack: Roboto, sans-serif;
$font-stack-title: Shrikhand, sans-serif;