body {
    font-family: $main-font-stack;
    max-width: 480px;
    margin: unset;

    a {
        @extend %link-nostyle;
    }

    .main__img {
        width: 100%
    }
}

// MENU //

.menu {
    @extend %flex-column;
    background: $main-bg-color;
    border-radius: 40px 40px 0px 0px;
    padding: 32px 15px 40px 15px;
    gap: 40px;
    position: relative;
    margin-top: -55px;

    &__section-title {
        display: flex;
        gap: 35px;

        &--h1 {
            font: 28px $font-stack-title;
            margin: unset;
        }
    }
}

.menu__parts {
    @extend %flex-column;
    gap: 12px;

    &-title {
        border-bottom: 3px solid $tertiary-color;
        width: 40px;

        h2 {
            @include font-style (16px, 300);
            margin: 0px 0px 5px;
        }
    }
}

.card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

    //&__content {
    //overflow:hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    //}

    &__title {
        margin: 0px 0px 5px;
    }

    &__subtitle {
        @include font-style(15px, 300);
        margin: unset;
    }

    &__price {
        text-align: center;
        font-weight: 700;
    }
}

.card:active {
    .card__check {
        @extend %flex-center;
        background-color: $tertiary-color;
        width: 50px;

        i {
            color: $tertiary-color;
            border: 2.5px solid white;
            border-radius: 50px;
            background-color: white;
        }
    }
}

// BUTTON //

.button {
    @extend %flex-center;

    button {
        @include btn;
        @include font-style(16px, 500);
        width: 186px;

        &:hover {
            opacity: 0.9;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }
    }
}