body {
    .main__img {
        width: 100%;
        height: 275px;
        object-fit: cover;

        @include large-device {
            height: 400px;
        }
    }
}

// MENU AVEC ANIMATION CHECK//

.menu {
    @extend %flex-column;
    background: $main-bg-color;
    border-radius: 40px 40px 0px 0px;
    padding: 32px 15px 40px 15px;
    gap: 40px;
    position: relative;
    margin-top: -55px;

    @include medium-device {
        width: 80%;
        margin: -55px auto 0;
    }

    @include large-device {
        width: 70%;
    }

    &__section-title {
        display: flex;
        gap: 35px;

        @include medium-device {
            justify-content: center;
        }

        &--h1 {
            font: 28px $font-stack-title;
            margin: unset;
        }
    }
}

.menu__parts {
    @extend %flex-column;
    gap: 12px;

    @include medium-device {
        width: 70%;
        margin: auto;
    }

    @include large-device {
        width: 60%;
    }

    &-title {
        border-bottom: 3px solid $tertiary-color;
        width: 40px;

        h2 {
            @include font-style (16px, 300);
            margin: 0px 0px 5px;
        }
    }
}

.card {
    height: 45px;
    background: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden; // cache l'élement check
    cursor: pointer;

    &__txt {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;

        &--title {
            margin: 0px 0px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--subtitle {
            @include font-style(15px, 300);
            margin: unset;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.card__content {
    display: flex;
    margin-right: -65px;

    &--price {
        font-weight: 700;
        margin: 27px 15px 0px 10px;
    }

    &--check {
        @extend %flex-center;
        background-color: $tertiary-color;
        width: 65px;
        border-radius: 0px 15px 15px 0px;
        margin: -15px -15px -15px 0px;

        i {
            color: $tertiary-color;
            padding: 3px;
            border-radius: 50px;
            background-color: white;
        }
    }
}

.card:hover{
    .card__content {
        margin-right: 0; // fait glisser le check vers la gauche
        transition: margin-right 0.4s ease-in;
    }
}

.card:not(:hover){
    .card__content {
    margin-right: -65px;
    transition: margin-right 0.4s ease-in;
    }
}

// BUTTON //

.button {
    @extend %flex-center;

    button {
        @include btn(186px);
    }
}