@import './variables';
@import './mixins';
@import './placeholders';
@import 'https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap';




body {
    max-width: 480px;
}

h1, h2, h3, p{
    font: $main-font-stack;
}

header img{
    width: 197px;
}




