@import './variables';
@import './mixins';
@import './placeholders';


body {
    font-family: $main-font-stack;
    max-width: 480px;
}

.logo{
    @extend %flex-center;
    font-size: 30px;
}

//h1, h2, h3, p{
//    font: $main-font-stack;
//}

header img{
    width: 197px;
}




