@import './variables';
@import './mixins';
@import './placeholders';


body {
    font-family: $main-font-stack;
    max-width: 480px;
}

.logo{
    @extend %flex-center;
    font-size: 30px;
}

header img{
    width: 197px;
}

.location {
    display: flex;
}






